h1{
			color:red;
				font-size:100px;
			text-align:center;
			}
h2{
			color:blue;
			font-size:60px;
			}
h3{
	color:black;
	font-size:30px;
}
h4{
	color:green;
	font-size:40px
}
h5{
	color:black;
	font-size:30px
}
body{
	background: #33ffa8;
}
